@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h2 { font-family: "DM Serif Text", serif; }

.signup-container {
  position: relative;
  min-height: 100vh;
}

.text-nav { font-family: "Philosopher", serif; }

.pointer { cursor: pointer; }

.text-color { 
    color: #EF7C8E; 
    font-weight: bolder;
}

.text-color:hover { color: #e14658; }

.button-color { 
    background-color: #e5b7a6;
    color: black;
    font-weight: 600;
    border: none; 
    border-radius: 20px; 
    padding: 10px 13px;  
    font-size: 12px;
    cursor: pointer; 
    transition: all 0.3s ease;
    text-align: center; 
}

.border-design {
    border: 1px solid #e5b7a6;
    border-radius: 20px;
}

.bg-color { background-color: #D8A7B1; }

.button-color:hover { 
    background-color: #e9d0c6;
}

.bg-blur { background: rgba(0, 0, 0, 0.5) }

.card-design { box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; }

.card-design2 { box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; }

.card-image {
    width: 100%; 
    height: 300px; 
    object-fit: cover;
    border-radius: 4px; 
}

.search-container {
    position: relative;
}

.search-input {
    height: 40px;
    border-radius: 30px;
    padding-left: 35px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #888;
}

.text-justify { text-align: justify; }